.spot-list-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: baseline;
     gap: 10px;
     padding-top: 10px;
}

.nav-link{
     text-decoration: none;
}



.active{
     color:#00ffbf;
}

.spot-tile {
     width: 24%;
     /* 让每个 spot tile 占据一行四分之一的宽度 */
     box-sizing: border-box;
     padding: 10px;
     /* 可选，添加内边距以调整内容与边框的距离 */
     background-color: #11212d;
     margin: 10px 2px;
     overflow: hidden;
}

.spot-tile img {
     width: 99%;
     /* 图片宽度填充整个 spot tile */
     height: auto;
     /* 保持图片纵横比例 */
     cursor: pointer
}

.text-container{
     font-size: 14px;

}


.city-rating-line{
     display: flex;
     justify-content: space-between;

}

.tooltip {
     position: relative;
     top: 0;
     display: flex;
}

.tooltip .tooltiptext {
     font-size: 15px;
     display: none;
     visibility: hidden;
     width: 200px;
     background-color: #11212d;
     color: #fff;
     text-align: center;
     border-radius: 5px;
     padding: 8px;
     position: absolute;
     left: -2px;
     top: -8px;
}

.tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
     display: block;
}


.city-rating-line{
     display: flex;
     width: auto;
     gap: 90px;
}
