.spot-list-container {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 10px;
     padding-top: 10px;
}


.spot-tile {
     width: 24%;
     /* 让每个 spot tile 占据一行四分之一的宽度 */
     box-sizing: border-box;
     padding: 10px;
     /* 可选，添加内边距以调整内容与边框的距离 */
}

.spot-tile img {
     width: 99%;
     /* 图片宽度填充整个 spot tile */
     height: auto;
     /* 保持图片纵横比例 */
     cursor: pointer
}


.tooltip {
     position: relative;
     display: flex;
}

.tooltip .tooltiptext {
     font-size: 10px;
     display: none;
     visibility: hidden;
     width: 120px;
     background-color: #555;
     color: #fff;
     text-align: center;
     border-radius: 5px;
     padding: 5px;
     position: absolute;
     z-index: 1;
     left: 10%;
     margin-left: 1px;
     opacity: 0;
     transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
     display: block;
}


.city-rating-line{
     display: flex;
     width: auto;
     gap: 90px;
}
