.spot-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
  align-content: center;
  /* flex-direction: row; */
  align-items: flex-end;

}







.image-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.preview-image-container {
  width: 100%;
}

.previewImage {
  width: 45%;
  height: auto;
}

.smallImage {
  display: flex;
  width: 45%;
  gap: 10px;
}

/* .smallImage img {
     width: 100px;
     height: auto;
     padding-bottom: 10px;
     padding-left: 10px;
   } */

.hosted-name-description {
  color: #00ffbf;
}

.callout-box {
  background-color: #fffbc6;
  padding: 20px;
  /* border:1px solid #9ba8ab; */
  box-shadow: 0px 0px 7px #00ffbf;
  border-radius: 5px;
  text-align: center;
  width: 400px;
  display: grid;
  gap: 10px;
  background-color: #253745;
}

.callout-box p {
  margin: 0;
  font-size: 18px;
}

.callout-box button {
  background-color: #ff8989;
  color: #11212d;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 0px 4px #ff8989;
}

.callout-box button:hover {
  background-color: #89deff;
}

.review-part {
  align-items: flex-end;
}

.host-name-callout-box-container {
  display: flex;
  justify-content: space-between;
}

.price-per-night {
  position: absolute;
}

.star-review-price-container {
  display: flex;
  justify-content: space-between;
}


.detail-city-state-country {
  position: relative;
  bottom: 10px;
  letter-spacing: 2px;
}

.detail-title {
  text-transform: uppercase;
  font-size: 45px;
  position: relative;
  left: -10px
}

.bottom-column {
  padding: 20px;
  /* display: inline-block; */
  /* margin: auto; */
  text-align: left;
  color: #00ffbf;
  display: flex;
  flex-direction: column;
}


.review-part {
  position: absolute;
  left: 155px;
}


.top-column {
  flex: 2;

}

.detail-delete-button {
  background-color: #00ffbf;
  border: 2px solid #ccd0cf;
  border-radius: 5px;
  padding: 3px;
  margin: 5px 0;
}

.detail-post-review {
  background-color: #00ffbf;
  border: 2px solid #ccd0cf;
  border-radius: 5px;
  padding: 3px;
  margin: 5px 0;

}

/* .fa-star {
  color: #ffe51c;
} */
