.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.logoProfileButtonContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.dropdownLogout {
  margin-left: -120px;
  padding-left: initial
}
.buttonLoginSignupContainer{
  padding: 10px
}


.loginSignupContainer {
  padding: 8px 30px 8px;
  width: fit-content;
  margin-left: -150px;
  font-family: 'FontAwesome';
  font-size: 12px;
  font-style: oblique;
  cursor: pointer;
  border: 1px solid orangered;
  border-radius: 10px;
  line-height: 1.5;
  /* padding: 1px; */
}


/* .openModalButtonContainer {

} */
