#modal-content{
     background-color: #11212d;
     border-radius: 20px;
}

.logInContainer {
     background-color: #11212d;
     color: #00ffbf;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     width: 430px;
     border-radius: 30px;
     font-family: 'FontAwesome';
     font-size: 12px;
     letter-spacing: 2px;
     padding: 1px;
     margin: -42px;
}


.logInForm {
     padding: 10px 45px;
     display: flex;
     flex-direction: column;
     align-items: end;
     gap: 17px;
}


.usernameOrEmail .passWord {
     display: flex;
     gap: 15px;
     letter-spacing: 2px;
}

.loginButton{
     background-color: #00ffbf;
     border: 2px solid #ccd0cf;
     border-radius: 5px;
     padding: 3px;
     margin: 5px 0;
     width: 70px;
     /* padding: 10px; */
     /* margin: 10px; */
}

.loginDemo{
     background-color: #00ffbf;
     border: 2px solid #ccd0cf;
     border-radius: 5px;
     padding: 3px;
     margin: 5px 0;
     width: 300px;
     padding: 10px;
     /* margin: 10px; */
}
