.logInContainer {
     background-color: rgba(255, 228, 196, 0.9);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     width: 430px;
     border-radius: 30px;
     font-family: 'FontAwesome';
     font-size: 12px;
     letter-spacing: 2px;
     padding: 1px;
     margin: -42px;
}


.logInForm {
     padding: 10px 45px;
     display: flex;
     flex-direction: column;
     align-items: end;
     gap: 17px;
}


.usernameOrEmail .passWord {
     display: flex;
     gap: 15px;
     letter-spacing: 2px;
}
